*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/Login-page/image/bg_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0 , 0, 0, 0.2);

}
.login_box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid white;
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.4em;
    color: blue;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.login-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}